openapi: 3.0.3
info:
  title: Athena RS
  version: 3.23.0
  description: |
    Athena gateway API and driver.

    This specification covers the core gateway CRUD/query surface, management/admin provisioning and schema operations,
    backup/storage utilities, pipeline orchestration, and registry/schema discovery routes.

    Authentication and routing model:
    - PostgreSQL gateway routes resolve a target client from `X-Athena-Client` or direct PostgreSQL URI headers (`x-pg-uri` preferred; `x-athena-jdbc-url` / `x-jdbc-url` compatibility).
    - Management routes require client-bound API keys with matching rights.
    - Admin routes require the static admin key (`ATHENA_KEY_12`).

    Response model:
    - Most routes return a standard JSON envelope (`status`, `message`, `data`/`error`).
    - RPC routes (`/gateway/rpc`, `/rpc/{function_name}`) return `{ "data": [...], "count": ... }` on success.

    Every operation returns at least one 2xx (success) and one 5xx (server error) response; 3xx (redirect) is optional where applicable.
servers:
- url: https://athena-cluster.com
tags:
- name: Health
  description: Liveness, readiness, and cluster probe endpoints.
- name: Gateway
  description: Core CRUD/query/RPC operations routed by `X-Athena-Client` or direct PostgreSQL URI headers where supported.
- name: Pipelines
  description: Config-driven source-transform-sink execution and simulation endpoints.
- name: Management
  description: Client-bound schema and provisioning operations guarded by management rights.
- name: Admin
  description: Static-admin-key control plane for API keys, client catalog, backups, and observability metadata.
- name: Schema
  description: Table/column/migration discovery endpoints.
- name: Storage
  description: S3-compatible object and bucket utility endpoints.
- name: Registry
  description: Router and API registry discovery endpoints.
paths:
  /:
    get:
      summary: API root and route listing
      description: Returns health status and a list of all available routes with methods and summaries (PostgREST-style).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: athena is online
                  version:
                    type: string
                    description: API version (cargo_toml_version)
                  athena_api:
                    type: string
                    example: online
                  athena_deadpool:
                    type: string
                    example: online
                  athena_scylladb:
                    type: string
                    enum:
                    - online
                    - offline
                  cargo_toml_version:
                    type: string
                  routes:
                    type: array
                    description: All available routes with path, methods, and summary
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          example: /gateway/data
                        methods:
                          type: array
                          items:
                            type: string
                          example:
                          - POST
                        summary:
                          type: string
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /ping:
    get:
      summary: Health check
      description: Returns `pong` so orchestrators and load balancers can verify the process is alive.
      responses:
        '200':
          description: Pong response
          content:
            text/plain:
              schema:
                type: string
                example: pong
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /health:
    get:
      summary: Structured health check with local provisioning diagnostics
      description: Returns Athena process health plus a proactive local Docker provisioning diagnostic for the current process user.
      responses:
        '200':
          description: Health response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  message:
                    type: string
                    example: athena is online
                  version:
                    type: string
                  athena_api:
                    type: string
                  athena_deadpool:
                    type: string
                  athena_scylladb:
                    type: string
                  gateway_auth_store:
                    type: string
                  gateway_benchmark_client:
                    type: string
                  cargo_toml_version:
                    type: string
                  provisioning:
                    type: object
                    properties:
                      local_docker:
                        type: object
                        properties:
                          available:
                            type: boolean
                          status:
                            type: string
                            example: permission_denied
                          detail:
                            type: string
                          hint:
                            type: string
                            nullable: true
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /health/cluster:
    get:
      summary: Cluster mirror health and version checks
      description: Checks Athena mirror domains, returns reachability, latency, throughput, and reported version metadata.
      responses:
        '200':
          description: Cluster health details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterHealthResponse'
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /clients:
    get:
      summary: List Athena clients (protected)
      description: Same response as `/schema/clients`, but exposed without the `schema` prefix.
      parameters:
      - $ref: '#/components/parameters/AdminApiKeyHeader'
      responses:
        '200':
          description: Configured clients
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientsResponse'
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /chat/rooms:
    get:
      summary: List chat rooms
      description: Returns chat rooms visible to the authenticated actor inside the selected Athena client and organization.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: include_archived
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Chat rooms loaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRoomPage'
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to list rooms for the selected organization
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
    post:
      summary: Create a chat room
      description: Creates a durable chat room and seeds initial membership inside the selected Athena client and organization.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCreateRoomRequest'
      responses:
        '201':
          description: Chat room created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRoomCreatedResponse'
        '400':
          description: Invalid room payload
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to create rooms for the selected organization
        '409':
          description: Room creation conflicted with an existing durable room
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
  /chat/rooms/{room_id}:
    get:
      summary: Get one chat room
      description: Loads one durable chat room after membership and organization checks.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatRoomIdParam'
      responses:
        '200':
          description: Chat room loaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRoom'
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to read the room
        '404':
          description: Room not found
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
    patch:
      summary: Update one chat room
      description: Updates mutable room fields such as the room title.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatRoomIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatUpdateRoomRequest'
      responses:
        '200':
          description: Chat room updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRoom'
        '400':
          description: Invalid room update payload
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to update the room
        '404':
          description: Room not found
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
  /chat/rooms/{room_id}/archive:
    post:
      summary: Archive one chat room
      description: Marks one chat room as archived without deleting its durable history.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatRoomIdParam'
      responses:
        '200':
          description: Chat room archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRoom'
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to archive the room
        '404':
          description: Room not found
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
  /chat/rooms/{room_id}/messages:
    get:
      summary: List room messages
      description: Lists room messages ordered by canonical `room_seq`, never by client timestamps or websocket arrival order.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatRoomIdParam'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: before_seq
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: after_seq
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Message page loaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessagePage'
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to read the room timeline
        '404':
          description: Room not found
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
    post:
      summary: Send one chat message
      description: Creates one durable room message, assigns the canonical `room_seq`, and records the chat outbox event in the same transaction.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatRoomIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSendMessageRequest'
      responses:
        '201':
          description: Chat message created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageCreatedResponse'
        '400':
          description: Invalid message payload
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to post into the room
        '404':
          description: Room or attachment file not found
        '409':
          description: Message idempotency conflict or room sequencing conflict
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
  /chat/rooms/{room_id}/messages/{message_id}:
    patch:
      summary: Edit one chat message
      description: Updates the durable message body according to server-side edit policy.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatRoomIdParam'
      - $ref: '#/components/parameters/ChatMessageIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatEditMessageRequest'
      responses:
        '200':
          description: Chat message updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
        '400':
          description: Invalid message edit payload
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to edit the message
        '404':
          description: Message not found
        '409':
          description: Message update conflicted with durable state
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
    delete:
      summary: Delete one chat message
      description: Soft-deletes one durable chat message while preserving the ordered room timeline.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatRoomIdParam'
      - $ref: '#/components/parameters/ChatMessageIdParam'
      responses:
        '200':
          description: Chat message deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatDeleteResult'
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to delete the message
        '404':
          description: Message not found
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
  /chat/rooms/{room_id}/read-cursor:
    post:
      summary: Advance one room read cursor
      description: Stores the latest durable read position on the room membership row using `last_read_seq` as the source of truth.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatRoomIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMarkReadUpToRequest'
      responses:
        '200':
          description: Read cursor advanced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatReadCursor'
        '400':
          description: Invalid read cursor payload
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to advance the room cursor
        '404':
          description: Room not found
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
  /chat/rooms/{room_id}/members:
    get:
      summary: List room members
      description: Lists room membership and read cursor state for the durable room.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatRoomIdParam'
      responses:
        '200':
          description: Room members loaded
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatMember'
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to list members for the room
        '404':
          description: Room not found
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
    post:
      summary: Add room members
      description: Adds one or more durable room memberships and emits a members-updated chat event.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatRoomIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatAddMembersRequest'
      responses:
        '200':
          description: Members added
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatMember'
        '400':
          description: Invalid membership payload
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to change room membership
        '404':
          description: Room not found
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
  /chat/rooms/{room_id}/members/{user_id}:
    delete:
      summary: Remove one room member
      description: Removes one durable room membership from the selected room.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatRoomIdParam'
      - $ref: '#/components/parameters/ChatUserIdParam'
      responses:
        '200':
          description: Room member removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRemoveResult'
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to remove room members
        '404':
          description: Room member not found
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
  /chat/messages/{message_id}/reactions:
    post:
      summary: Add one message reaction
      description: Adds one durable message reaction for the authenticated actor.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatMessageIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatAddReactionRequest'
      responses:
        '200':
          description: Reaction added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatReactionSummary'
        '400':
          description: Invalid reaction payload
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to react to the message
        '404':
          description: Message not found
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
  /chat/messages/{message_id}/reactions/{emoji}:
    delete:
      summary: Remove one message reaction
      description: Removes one durable message reaction for the authenticated actor.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      - $ref: '#/components/parameters/ChatMessageIdParam'
      - name: emoji
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Reaction removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatReactionSummary'
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to remove the reaction
        '404':
          description: Message or reaction not found
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
  /chat/messages/search:
    post:
      summary: Search chat messages
      description: Searches durable chat messages inside the selected Athena client and organization.
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/XAthenaClientHeader'
      - $ref: '#/components/parameters/ChatAuthorizationHeader'
      - $ref: '#/components/parameters/ChatCookieHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSearchMessagesRequest'
      responses:
        '200':
          description: Search results loaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSearchPage'
        '400':
          description: Invalid search payload
        '401':
          description: Missing or invalid chat session
        '403':
          description: Caller is not allowed to search chat messages
        '503':
          description: Chat runtime unavailable for the selected Athena client
        default:
          $ref: '#/components/responses/DefaultServerError5xx'
  /schema/clients:
    get:
      summary: List Postgres-backed Athena clients
      description: Protected by the static admin key (`ATHENA_KEY_12`).
      parameters:
      - $ref: '#/components/parameters/AdminApiKeyHeader'
      responses:
        '200':
          description: A JSON object containing a clients array
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientsResponse'
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /schema:
    get:
      summary: List full schema metadata for one schema (defaults to public)
      responses:
        '200':
          description: Success
  /schema/tables:
    get:
      summary: List tables
      parameters:
      - in: header
        name: X-Athena-Client
        required: true
        schema:
          type: string
        description: Selects which Postgres pool provides the tables.
      responses:
        '200':
          description: Table schema metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  tables:
                    type: array
                    items:
                      type: object
                      properties:
                        table_schema:
                          type: string
                        table_name:
                          type: string
        '400':
          description: Missing or unknown X-Athena-Client
        '500':
          description: Failed to query information_schema.tables
  /schema/columns:
    get:
      summary: List columns
      parameters:
      - in: header
        name: X-Athena-Client
        required: true
        schema:
          type: string
      - in: header
        name: X-API-Key
        required: false
        schema:
          type: string
        description: Optional API key (also apikey, X-Athena-Key, Authorization Bearer)
      - in: query
        name: table_name
        required: true
        schema:
          type: string
        description: Postgres table name to describe
      - in: query
        name: table_schema
        required: false
        schema:
          type: string
        description: Optional schema name; when provided, restricts columns to this schema
      responses:
        '200':
          description: Column metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  columns:
                    type: array
                    items:
                      type: object
                      properties:
                        column_name:
                          type: string
                        data_type:
                          type: string
                          nullable: true
                        column_default:
                          type: string
                          nullable: true
                        is_nullable:
                          type: string
                          nullable: true
        '400':
          description: Missing header or invalid table_name
        '500':
          description: Failed to fetch column metadata
  /schema/constraints:
    get:
      summary: List unique constraints
      parameters:
      - in: header
        name: X-Athena-Client
        required: true
        schema:
          type: string
      - in: query
        name: table_name
        required: true
        schema:
          type: string
        description: Postgres table name to inspect for unique constraints
      - in: query
        name: table_schema
        required: false
        schema:
          type: string
        description: Optional schema name; defaults to public when omitted
      responses:
        '200':
          description: Unique-constraint metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  constraints:
                    type: array
                    items:
                      type: object
                      properties:
                        constraint_name:
                          type: string
                        columns:
                          type: array
                          items:
                            type: string
        '400':
          description: Missing header or invalid table/query parameters
        '500':
          description: Failed to fetch constraint metadata
  /schema/migrations:
    get:
      summary: List schema migrations (graceful fallback when table absent)
      description: Returns migration records from supabase_migrations.schema_migrations. If the table does not exist, returns an empty array with a message instead of an error.
      parameters:
      - in: header
        name: X-Athena-Client
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Migrations list or empty with message when table absent
          content:
            application/json:
              schema:
                type: object
                properties:
                  migrations:
                    type: array
                    items:
                      type: object
                      properties:
                        version:
                          type: string
                          nullable: true
                        name:
                          type: string
                          nullable: true
                  message:
                    type: string
                    description: Present when migrations table does not exist
        '400':
          description: Missing X-Athena-Client
        '500':
          description: Other database error
  /debug/schema:
    get:
      summary: Inspect logging-schema expected-vs-observed diagnostics
      description: Returns expected-vs-observed logging schema state, missing columns/tables, and an overall health summary.
      parameters:
      - $ref: '#/components/parameters/AdminApiKeyHeader'
      responses:
        '200':
          description: Logging schema diagnostics report
          content:
            application/json:
              schema:
                type: object
                properties:
                  logging_client:
                    type: string
                  generated_at:
                    type: string
                    format: date-time
                  summary:
                    type: object
                    properties:
                      health:
                        type: string
                      health_reasons:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                            severity:
                              type: string
                            count:
                              type: integer
                            message:
                              type: string
                      expected_table_count:
                        type: integer
                      found_table_count:
                        type: integer
                      required_missing_table_count:
                        type: integer
                      optional_missing_table_count:
                        type: integer
                      required_missing_column_count:
                        type: integer
                      optional_missing_column_count:
                        type: integer
                      relation_type_mismatch_count:
                        type: integer
                  expected_tables:
                    type: array
                    items:
                      type: object
                      properties:
                        table_schema:
                          type: string
                        table_name:
                          type: string
                        expected_relation_type:
                          type: string
                        required:
                          type: boolean
                        purpose:
                          type: string
                        expected_columns:
                          type: array
                          items:
                            type: string
                        found:
                          type: boolean
                        found_relation_type:
                          type: string
                          nullable: true
                        relation_type_matches:
                          type: boolean
                        found_columns:
                          type: array
                          items:
                            type: string
                        missing_columns:
                          type: array
                          items:
                            type: string
                        unexpected_columns:
                          type: array
                          items:
                            type: string
                  still_needed:
                    type: object
                    properties:
                      required_missing_tables:
                        type: array
                        items:
                          type: string
                      optional_missing_tables:
                        type: array
                        items:
                          type: string
                      required_missing_columns:
                        type: array
                        items:
                          type: string
                      optional_missing_columns:
                        type: array
                        items:
                          type: string
                      relation_type_mismatches:
                        type: array
                        items:
                          type: string
                  observed_tables:
                    type: array
                    items:
                      type: object
                      properties:
                        table_schema:
                          type: string
                        table_name:
                          type: string
                        relation_type:
                          type: string
                        columns:
                          type: array
                          items:
                            type: string
                  missing_required_tables:
                    type: array
                    items:
                      type: string
                  missing_optional_tables:
                    type: array
                    items:
                      type: string
        '401':
          description: Missing or invalid admin/gateway authentication
        '500':
          description: Failed to inspect logging schema
        '503':
          description: Logging client not configured or disconnected
  /debug/gateway:
    get:
      summary: Inspect live gateway tenant routing, upstream readiness, and control-plane diagnostics
      responses:
        '200':
          description: Success
  /debug/s3:
    get:
      summary: Inspect live S3 catalog resolution, bucket readiness, and metadata diagnostics
      responses:
        '200':
          description: Success
  /router/registry:
    get:
      summary: Athena router registry
      responses:
        '200':
          description: An array of router registry objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '500':
          description: Failed to load router registry entries
  /registry:
    get:
      summary: API registry
      parameters:
      - in: header
        name: Cache-Control
        schema:
          type: string
        description: Set to `no-cache` to skip the cached response.
      responses:
        '200':
          description: API registry rows from Supabase
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '500':
          description: Failed to list API registry entries
  /metrics:
    get:
      summary: Prometheus metrics endpoint
      description: Exposes Prometheus text metrics including uptime, request counters, management mutation counters, cluster probe gauges, and 24-hour aggregates.
      responses:
        '200':
          description: Metrics payload
          content:
            text/plain:
              schema:
                type: string
                example: |
                  # TYPE athena_uptime_seconds gauge
                  athena_uptime_seconds 123.0
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /gateway/fetch:
    post:
      summary: Fetch data
      description: |
        Fetches rows from a table or view using structured conditions, optional pagination, sort instructions,
        and optional post-processing (`group_by`, `time_granularity`, aggregation options).

        Notes:
        - Route selection supports `X-Athena-Client` or direct PostgreSQL URI headers (`x-pg-uri` preferred).
        - Direct URI auth bypass is allowed when URI credentials include both username and password.
        - Direct URI requests always execute inline (deferred gateway queue is skipped).
        - Optional `schema_name` targets a non-default schema. When provided, `table_name` must not already be schema-qualified.
        - PostgreSQL-backed fetch execution accepts canonical nested `select` payloads and compatibility `select` strings.
        - Schema-qualified base tables such as `public.chat_subscriptions` are supported.
        - Relation-side schema qualification such as `users:athena.users(id,username,image)` is supported.
        - Legacy `columns` + `conditions` payloads remain supported and are still the right shape for wildcard/simple fetches and non-PostgreSQL gateway fetch backends.
        - Structured fetch auth checks apply to every referenced table in the nested tree when API-key enforcement is enabled.
        - Relation joins resolve from foreign-key metadata first; ambiguous edges should provide `foreign_key`.
        - Unsupported in this release: top-level AST request bodies (`operation` / `from` / `fields`), relation `on` shapes, and schema-qualified relation selectors combined with `via`.
        - `X-Strip-Nulls` can be used to remove null-valued fields from response payloads.
        - Cache behavior may include `X-Athena-Cached`, `X-Athena-Cache-Outcome`, and `X-Athena-Cache-Source` headers.
      tags:
      - Gateway
      parameters:
      - in: header
        name: X-User-Id
        schema:
          type: string
      - in: header
        name: X-Athena-Client
        description: Registered Athena client name. Optional when direct PostgreSQL URI headers are provided.
        schema:
          type: string
      - in: header
        name: x-pg-uri
        description: Preferred direct PostgreSQL URI (`postgres://...` or `jdbc:postgresql://...`).
        schema:
          type: string
      - in: header
        name: x-athena-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: x-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: X-Strip-Nulls
        schema:
          type: string
      - in: header
        name: apikey
        schema:
          type: string
      - in: header
        name: x-api-key
        description: optional API key mirror of the `apikey` header
        schema:
          type: string
      - in: header
        name: x-supabase-url
        description: Required when X-Athena-Client is custom_supabase
        schema:
          type: string
          format: uri
      - in: header
        name: x-supabase-key
        description: Required when X-Athena-Client is custom_supabase
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                view_name:
                  type: string
                table_name:
                  type: string
                  description: Root table name for legacy and structured fetch bodies.
                schema_name:
                  type: string
                  description: Optional schema override (defaults to public search_path behavior).
                select:
                  description: Structured select projection. Use nested objects for the canonical Athena contract or a PostgREST/Supabase-style string for compatibility.
                  oneOf:
                  - type: object
                    additionalProperties: true
                  - type: string
                where:
                  type: object
                  description: Structured filters using eq, neq, gt, lt, or in operators.
                  additionalProperties: true
                where_filters:
                  type: array
                  description: Explicit structured filter array used by compatibility rewrites and advanced callers.
                  items:
                    type: object
                    properties:
                      column:
                        type: string
                      operator:
                        type: string
                        enum:
                        - eq
                        - neq
                        - gt
                        - lt
                        - in
                      value:
                        nullable: true
                      values:
                        type: array
                        items: {}
                      column_cast:
                        type: string
                      value_cast:
                        type: string
                orderBy:
                  description: Structured ordering for canonical nested select payloads.
                  oneOf:
                  - type: object
                    additionalProperties:
                      type: string
                  - type: array
                    items:
                      type: object
                      additionalProperties: true
                columns:
                  oneOf:
                  - type: array
                    items:
                      type: string
                  - type: string
                  description: Legacy projection contract. Keep using this for wildcard or non-PostgreSQL fetch bodies.
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      eq_column:
                        type: string
                      eq_value:
                        type: string
                limit:
                  type: integer
                current_page:
                  type: integer
                page_size:
                  type: integer
                offset:
                  type: integer
                total_pages:
                  type: integer
                strip_nulls:
                  type: boolean
                group_by:
                  type: string
                  description: Column name to group results by
                time_granularity:
                  type: string
                  enum:
                  - day
                  - hour
                  - minute
                  description: Time granularity for grouping timestamp data
                aggregation_column:
                  type: string
                  description: Column to aggregate (required when using aggregation_strategy)
                aggregation_strategy:
                  type: string
                  enum:
                  - cumulative_sum
                  description: Aggregation strategy to apply (requires aggregation_column)
                aggregation_dedup:
                  type: boolean
                  description: Whether to deduplicate during aggregation
                sortBy:
                  type: object
                  description: Optional sort (camelCase). Use sort_by for snake_case.
                  properties:
                    field:
                      type: string
                      description: Column name to sort by
                    direction:
                      type: string
                      enum:
                      - asc
                      - desc
                      - ascending
                      - descending
                      default: asc
                sort_by:
                  type: object
                  description: Optional sort (snake_case). Same shape as sortBy.
                  properties:
                    field:
                      type: string
                    direction:
                      type: string
                      enum:
                      - asc
                      - desc
                      - ascending
                      - descending
            example:
              table_name: public.chat_subscriptions
              select: users:athena.users(id,username,image),user_id
              where_filters:
              - column: user_id
                operator: eq
                value: ef7a4c74-cc35-4d32-945a-a5271279ecdb
                column_cast: text
              orderBy:
              - column: user_id
                direction: desc
              limit: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - success
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  cache_key:
                    type: string
                  post_processing:
                    type: object
                    additionalProperties: true
              example:
                status: success
                message: Fetched 1 rows
                data:
                - user_id: ef7a4c74-cc35-4d32-945a-a5271279ecdb
                  users:
                    id: ef7a4c74-cc35-4d32-945a-a5271279ecdb
                    username: floris
                    image: https://cdn.example.com/avatar.png
                cache_key: chat_subscriptions:compatibility:true:7c9b53f4f1f0b902
        '400':
          description: Structured validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - error
                  message:
                    type: string
                  error:
                    type: string
                  code:
                    type: string
                  data:
                    type: object
                    additionalProperties: true
              example:
                status: error
                message: Invalid structured select request
                error: table 'athena.users' was not found for structured gateway fetch
                code: invalid_structured_select_request
                data:
                  operation: fetch
        '500':
          description: Internal error
  /gateway/update:
    post:
      summary: Update data
      description: |
        Applies updates to rows matching supplied conditions. Payload shape mirrors fetch-style condition blocks
        so callers can reuse filtering logic between read and write flows.

        Supports optional post-processing fields for response shaping where applicable.
        Supports `X-Athena-Client` or direct PostgreSQL URI headers (`x-pg-uri` preferred); direct URI requests execute inline.
      tags:
      - Gateway
      parameters:
      - in: header
        name: X-User-Id
        schema:
          type: string
      - in: header
        name: X-Athena-Client
        description: Registered Athena client name. Optional when direct PostgreSQL URI headers are provided.
        schema:
          type: string
      - in: header
        name: x-pg-uri
        description: Preferred direct PostgreSQL URI (`postgres://...` or `jdbc:postgresql://...`).
        schema:
          type: string
      - in: header
        name: x-athena-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: x-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: X-Strip-Nulls
        schema:
          type: string
      - in: header
        name: apikey
        schema:
          type: string
      - in: header
        name: x-api-key
        description: optional API key mirror of the `apikey` header
        schema:
          type: string
      - in: header
        name: x-supabase-url
        description: Required when X-Athena-Client is custom_supabase
        schema:
          type: string
          format: uri
      - in: header
        name: x-supabase-key
        description: Required when X-Athena-Client is custom_supabase
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                view_name:
                  type: string
                table_name:
                  type: string
                columns:
                  oneOf:
                  - type: array
                    items:
                      type: string
                  - type: string
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      eq_column:
                        type: string
                      eq_value:
                        type: string
                limit:
                  type: integer
                current_page:
                  type: integer
                page_size:
                  type: integer
                offset:
                  type: integer
                total_pages:
                  type: integer
                strip_nulls:
                  type: boolean
                group_by:
                  type: string
                  description: Column name to group results by
                time_granularity:
                  type: string
                  enum:
                  - day
                  - hour
                  - minute
                  description: Time granularity for grouping timestamp data
                aggregation_column:
                  type: string
                  description: Column to aggregate (required when using aggregation_strategy)
                aggregation_strategy:
                  type: string
                  enum:
                  - cumulative_sum
                  description: Aggregation strategy to apply (requires aggregation_column)
                aggregation_dedup:
                  type: boolean
                  description: Whether to deduplicate during aggregation
              required:
              - conditions
            example:
              table_name: app_events
              conditions:
              - eq_column: id
                eq_value: 5d845b27-8d06-40a0-9e76-08de9d9f3c1f
              update_body:
                source: api
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                message: Rows updated
                data:
                  affected_rows: 1
        '400':
          description: Bad request
        '500':
          description: Internal error
  /gateway/insert:
    put:
      summary: Insert data
      description: |
        Inserts one row (or server-normalized payload) into the target table selected by `X-Athena-Client` or a direct PostgreSQL URI header (`x-pg-uri` preferred).

        The optional `X-Athena-Insert-Window` header can enable request-scoped batching for Postgres-backed inserts.
        Conflict responses (409) are typically raised for unique/constraint violations.
        Direct URI requests are executed inline (gateway deferred queue bypassed).
      tags:
      - Gateway
      parameters:
      - in: header
        name: X-User-Id
        schema:
          type: string
      - in: header
        name: X-Company-Id
        required: true
        schema:
          type: string
      - in: header
        name: X-Organization-Id
        required: true
        schema:
          type: string
      - in: header
        name: X-Publish-Event
        schema:
          type: string
      - in: header
        name: X-Athena-Insert-Window
        description: |
          Optional Postgres insert batching window in milliseconds (1–60000).
          When non-zero, enables or overrides `gateway.insert_execution_window_ms` for this request.
          The handler blocks until the window elapses and the row is flushed; under load, connection
          hold time can increase by up to this value. Ignored when `X-Athena-Deadpool-Enable` requests
          deadpool, when `update_body` is present, or for non-Postgres clients.
        schema:
          type: integer
          minimum: 1
          maximum: 60000
      - in: header
        name: X-Athena-Client
        description: Registered Athena client name. Optional when direct PostgreSQL URI headers are provided.
        schema:
          type: string
      - in: header
        name: x-pg-uri
        description: Preferred direct PostgreSQL URI (`postgres://...` or `jdbc:postgresql://...`).
        schema:
          type: string
      - in: header
        name: x-athena-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: x-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: apikey
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                table_name:
                  type: string
                schema_name:
                  type: string
                  description: Optional schema override for PostgreSQL-backed insert execution.
                insert_body:
                  type: object
                update_body:
                  type: object
              required:
              - table_name
              - insert_body
            example:
              table_name: app_events
              insert_body:
                event_type: user_login
                user_id: u_123
                source: dashboard
      responses:
        '200':
          description: Inserted
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                message: Row inserted
                data:
                  table_name: app_events
        '400':
          description: Bad request
        '409':
          description: Conflict
        '500':
          description: Internal error
  /gateway/delete:
    delete:
      summary: Delete data
      description: |
        Deletes rows from the target table, usually by primary/resource identifier fields in the request body.
        Route authorization and client routing follow the same model as other gateway mutations (`X-Athena-Client` or direct PostgreSQL URI header).
        Direct URI requests execute inline (deferred queue bypassed).
      tags:
      - Gateway
      parameters:
      - in: header
        name: X-User-Id
        schema:
          type: string
      - in: header
        name: X-Company-Id
        description: Optional tenant hint for audit/event metadata.
        schema:
          type: string
      - in: header
        name: X-Organization-Id
        description: Optional tenant hint. Standard client-routed flows commonly provide it.
        schema:
          type: string
      - in: header
        name: X-Athena-Client
        description: Registered Athena client name. Optional when direct PostgreSQL URI headers are provided.
        schema:
          type: string
      - in: header
        name: x-pg-uri
        description: Preferred direct PostgreSQL URI (`postgres://...` or `jdbc:postgresql://...`).
        schema:
          type: string
      - in: header
        name: x-athena-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: x-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: apikey
        schema:
          type: string
      - in: header
        name: x-supabase-url
        description: Optional custom Supabase URL when X-Athena-Client is custom_supabase
        schema:
          type: string
          format: uri
      - in: header
        name: x-supabase-key
        description: Optional custom Supabase key when X-Athena-Client is custom_supabase
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                table_name:
                  type: string
                schema_name:
                  type: string
                  description: Optional schema override for PostgreSQL-backed delete execution.
                resource_id:
                  type: string
              required:
              - table_name
              - resource_id
            example:
              table_name: app_events
              resource_id: 5d845b27-8d06-40a0-9e76-08de9d9f3c1f
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                message: Row deleted
                data:
                  table_name: app_events
                  resource_id: 5d845b27-8d06-40a0-9e76-08de9d9f3c1f
        '400':
          description: Bad request
        '500':
          description: Internal error
  /gateway/query:
    post:
      summary: Execute SQL
      description: |
        Executes raw SQL against the Athena client selected by `X-Athena-Client`.

        PostgreSQL clients may also be targeted with a direct PostgreSQL URI header (`x-pg-uri` preferred).

        This route is intended for advanced workflows where structured gateway payloads are insufficient.
        Use carefully with parameterized SQL on the caller side when constructing dynamic queries.
        Direct URI requests execute inline (deferred queue bypassed).
        Optional `schema_name` sets a schema-local search_path (`schema_name, public`) for PostgreSQL execution only.
      tags:
      - Gateway
      parameters:
      - in: header
        name: X-Athena-Client
        description: Registered logical Athena client name. Optional when direct PostgreSQL URI headers are provided.
        schema:
          type: string
      - in: header
        name: x-pg-uri
        description: Preferred direct PostgreSQL URI (`postgres://...` or `jdbc:postgresql://...`).
        schema:
          type: string
      - in: header
        name: x-athena-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: x-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: x-api-key
        description: Optional API key header; not required for credentialed direct PostgreSQL URI requests.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  description: raw SQL to execute
                  type: string
                schema_name:
                  type: string
                  description: Optional schema override for PostgreSQL query execution.
              required:
              - query
            example:
              query: SELECT id, path, status_code FROM http_request_log ORDER BY created_at DESC LIMIT 10;
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                message: Query executed
                data:
                  rows:
                  - id: 5d845b27-8d06-40a0-9e76-08de9d9f3c1f
                    path: /gateway/fetch
                    status_code: 200
        '400':
          description: Bad request
        '500':
          description: Internal error
  /gateway/rpc:
    post:
      summary: Execute a Postgres function as an RPC call
      description: |
        Invokes `schema.function(arg => ...)` on the pool selected by `X-Athena-Client`. Requires API key with right `gateway.rpc.execute`.
        Success responses return **`{"data": [...], "count": ...}`** (not the usual `status`/`message` envelope). Rows are JSON objects keyed by selected columns.
      parameters:
      - in: header
        name: X-Athena-Client
        required: true
        schema:
          type: string
      - in: header
        name: apikey
        schema:
          type: string
      - in: header
        name: x-api-key
        schema:
          type: string
      - in: header
        name: x-supabase-url
        schema:
          type: string
          format: uri
      - in: header
        name: x-supabase-key
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayRpcRequest'
            example:
              function: get_recent_events
              schema: public
              args:
                p_limit: 10
              select: id,event_type,created_at
              order:
                column: created_at
                ascending: false
      responses:
        '200':
          description: RPC result rows
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  count:
                    type: integer
                    format: int64
                    description: Present when exact count was requested
              example:
                data:
                - id: 5d845b27-8d06-40a0-9e76-08de9d9f3c1f
                  event_type: user_login
                  created_at: 2026-04-14T10:15:00Z
                count: 1
        '400':
          description: Invalid RPC request or binding error
        '401':
          description: Unauthorized
        '403':
          description: Missing gateway.rpc.execute
        '500':
          description: Database or internal error
  /rpc/{function_name}:
    get:
      summary: Compatibility RPC endpoint for Postgres functions
      description: |
        Same execution as `POST /gateway/rpc` with `function` taken from the path. Query keys: `schema`, `select`, `count`, `limit`, `offset`, `order` (`column` or `column.desc`).
        Other keys are either RPC arguments or filters written as `column=op.value` (e.g. `status=eq.active`). Arrays use `{a,b}` in the value portion.
      parameters:
      - name: function_name
        in: path
        required: true
        schema:
          type: string
      - in: header
        name: X-Athena-Client
        required: true
        schema:
          type: string
      - in: header
        name: apikey
        schema:
          type: string
      - in: header
        name: x-api-key
        schema:
          type: string
      responses:
        '200':
          description: RPC result rows (`data` + optional `count`)
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  count:
                    type: integer
                    format: int64
        '400':
          description: Invalid query string
        '401':
          description: Unauthorized
        '500':
          description: Database or internal error
    post:
      summary: Compatibility RPC endpoint for Postgres functions
      description: |
        Body is either a plain JSON object of named arguments for `function_name`, or a full `GatewayRpcRequest`-shaped wrapper (`function`, `schema`, `args`, `filters`, etc.).
      parameters:
      - name: function_name
        in: path
        required: true
        schema:
          type: string
      - in: header
        name: X-Athena-Client
        required: true
        schema:
          type: string
      - in: header
        name: apikey
        schema:
          type: string
      - in: header
        name: x-api-key
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/GatewayRpcRequest'
              - type: object
                additionalProperties: true
                description: Bare argument object when not using wrapper fields
      responses:
        '200':
          description: RPC result rows
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  count:
                    type: integer
                    format: int64
        '400':
          description: Invalid body
        '401':
          description: Unauthorized
        '500':
          description: Database or internal error
  /public/{route_key}/{op}:
    post:
      summary: Dispatch a public route alias to gateway operations
      description: Resolves a configured public route key to a provisioned Athena client and forwards to gateway query/fetch/insert/update/delete.
      parameters:
      - in: path
        name: route_key
        required: true
        schema:
          type: string
      - in: path
        name: op
        required: true
        schema:
          type: string
          enum:
          - query
          - fetch
          - insert
          - update
          - delete
      - in: header
        name: X-Athena-Key
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Forwarded successfully
        '400':
          description: Invalid operation or payload
        '403':
          description: Route inactive or operation not allowed
        '404':
          description: Unknown route key
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /query/sql:
    post:
      summary: Execute SQL via driver
      description: |
        For `driver: postgresql`, connection resolution matches gateway handlers:
        - Send `X-Athena-Client` for a registered client pool, or
        - Send direct PostgreSQL URI headers (`x-pg-uri` preferred; `x-athena-jdbc-url` / `x-jdbc-url` compatibility).

        For PostgreSQL driver requests, Athena accepts direct URI auth bypass (no `X-Athena-Client`, no `X-Athena-Key`) when the URI includes both username and password credentials. Non-PostgreSQL drivers still require standard auth.
        Optional `schema_name` is supported only for the PostgreSQL driver and configures execution search_path as `schema_name, public`.
      parameters:
      - in: header
        name: X-Athena-Client
        description: Registered Athena client name for client-routed execution.
        schema:
          type: string
      - in: header
        name: x-pg-uri
        description: Preferred direct PostgreSQL URI (`postgres://...` or `jdbc:postgresql://...`) for `driver=postgresql`.
        schema:
          type: string
      - in: header
        name: x-athena-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: x-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: X-Athena-Key
        description: Required for non-PostgreSQL drivers and for PostgreSQL requests without credentialed direct URI bypass.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewaySqlExecutionRequest'
      responses:
        '200':
          description: Query executed
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid driver
        '401':
          description: Authentication required
        '500':
          description: Driver execution failed
        '503':
          description: Athena/Scylla unavailable
  /gateway/sql:
    post:
      summary: Execute SQL via driver (gateway alias)
      description: |
        Same request body and behavior as `POST /query/sql`. Provided for SDKs that target a `/gateway/*` prefix.

        PostgreSQL driver behavior:
        - `X-Athena-Client` or direct PostgreSQL URI headers (`x-pg-uri` preferred; `x-athena-jdbc-url` / `x-jdbc-url` compatibility).
        - Direct URI auth bypass requires URI username + password credentials.
        - Non-PostgreSQL drivers keep standard auth requirements.
        - Optional `schema_name` is supported only for the PostgreSQL driver and configures execution search_path as `schema_name, public`.
      parameters:
      - in: header
        name: X-Athena-Client
        description: Registered Athena client name for client-routed execution.
        schema:
          type: string
      - in: header
        name: x-pg-uri
        description: Preferred direct PostgreSQL URI (`postgres://...` or `jdbc:postgresql://...`) for `driver=postgresql`.
        schema:
          type: string
      - in: header
        name: x-athena-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: x-jdbc-url
        description: Compatibility direct PostgreSQL URI header.
        schema:
          type: string
      - in: header
        name: X-Athena-Key
        description: Required for non-PostgreSQL drivers and for PostgreSQL requests without credentialed direct URI bypass.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewaySqlExecutionRequest'
      responses:
        '200':
          description: Query executed
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid driver
        '401':
          description: Authentication required
        '500':
          description: Driver execution failed
        '503':
          description: Athena/Scylla unavailable
  /gateway/sql/d1/migrate:
    post:
      summary: Preview or apply PostgreSQL -> D1 migration plans
      description: |
        Converts PostgreSQL DDL/DML into D1-compatible SQL and can execute the converted
        result through the normal Cloudflare D1 gateway execution path.

        `driver` chooses the execution target (`cloudflare-d1`, `d1`, `athena-d1`), while
        `dry_run` controls execution:
        - `dry_run: true` (default): conversion preview only, no `X-Athena-Client` required.
        - `dry_run: false`: converted statements are executed through the same gateway SQL D1 flow and require a
          D1-capable `X-Athena-Client`.

        Conversion behavior is strict by default (`strict: true`) and will fail with
        validation diagnostics unless strict mode is disabled.

        | PostgreSQL construct | D1 conversion | Notes |
        | --- | --- | --- |
        | `serial`, `bigserial`, `smallserial`, `IDENTITY` | `integer [AUTOINCREMENT]` | `type.serial`, `ddl.identity` |
        | `uuid` | `text` | `type.uuid` |
        | `json`, `jsonb` | `text` | `type.json` |
        | `numeric`, `decimal` | `real` | `type.numeric` |
        | `enum`, `domain`, custom scalar types | `text` | `type.custom` |
        | array types (`_int`, `int[]`, `text[]`) | `text` | `type.array` |
        | timestamp / temporal types | `text` | `type.time`, `ddl.timestamp` |
        | foreign keys | converted to compatible D1 syntax | `ddl.foreign_key` |
        | `CREATE INDEX`, `CREATE UNIQUE INDEX`, index predicates | preserved (`CONCURRENTLY` removed) | `ddl.index` |
        | unsupported DDL constructs (`CREATE EXTENSION`, `CREATE PUBLICATION`, `CREATE ROLE`, `EVENT TRIGGER`, `COPY`, `LISTEN`, `NOTIFY`, partitioning syntax) | skipped | hard fail in strict mode, warning in non-strict |

        Response payload includes:
        - `convertedSql`: final SQL text in execution order
        - `sourceMeta`: source statement count, fingerprint, and estimated apply order
        - `statements`: per-statement plan entries with source/target ranges
        - `warnings` and `errors` diagnostics
      parameters:
      - in: header
        name: X-Athena-Client
        required: false
        description: Optional for preview mode; required when `dry_run` is false for execution.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/D1MigrationRequest'
      responses:
        '200':
          description: |
            Migration plan preview or execution summary.
            | PostgreSQL construct | D1 conversion | Warnings/Errors |
            | --- | --- | --- |
            | `serial`, `bigserial`, `smallserial`, `IDENTITY` | `integer [AUTOINCREMENT]` | `type.serial`, `ddl.identity` |
            | `uuid` | `text` | `type.uuid` |
            | `json`, `jsonb` | `text` | `type.json` |
            | `numeric`, `decimal` | `real` | `type.numeric` |
            | arrays (`_int`, `type[]`) | `text` | `type.array` |
            | enum/domain/custom types | `text` | `type.custom` |
            | temporal types (`timestamp`, `time`, `date`) | `text` | `type.time`, `ddl.timestamp` |
            | foreign keys/index constraints | converted syntactically | `ddl.foreign_key`, `ddl.index` |
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/D1MigrationPreviewResponse'
                - $ref: '#/components/schemas/D1MigrationExecutionResponse'
                - $ref: '#/components/schemas/D1MigrationPreview'
                - $ref: '#/components/schemas/D1MigrationExecutionResult'
        '400':
          description: Invalid driver/dialect or missing/misbound X-Athena-Client for execute mode.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D1MigrationPreviewResponse'
        '422':
          description: |
            Migration conversion produced validation diagnostics and strict mode is enabled.

            | PostgreSQL construct | D1 conversion | Diagnostic |
            | --- | --- | --- |
            | `serial`, `bigserial`, `smallserial`, `IDENTITY` | `integer [AUTOINCREMENT]` | `type.serial`, `ddl.identity` |
            | `uuid` | `text` | `type.uuid` |
            | `json`, `jsonb` | `text` | `type.json` |
            | `numeric`, `decimal` | `real` | `type.numeric` |
            | array types (`_type`, `type[]`) | `text` | `type.array` |
            | enum/domain/custom types | `text` | `type.custom` |
            | unsupported constructs | skipped | `unsupported.*`, `type.unsupported` |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/D1MigrationPreviewResponse'
        '503':
          description: D1 execution failed
  /gateway/deferred/flush:
    post:
      summary: Immediately flush all pending deferred writes
      description: |
        Triggers an immediate flush of any queued deferred writes (when `deferred_writes.enabled` is true).
        Useful for operators to force persistence before maintenance or to clear backpressure.
        When deferred writes are disabled the endpoint returns a benign success with zero counts.
      tags:
      - Gateway
      responses:
        '200':
          description: Flush summary with counts of succeeded/failed operations and invalidated tables.
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /query/count:
    post:
      summary: Cached row count (COUNT query or table)
      description: |
        Returns a single row count using the same cache layers as gateway fetch (in-process + Redis when configured).
        Provide either validated `query` (single SELECT COUNT ... with no GROUP BY / UNION / comments) or `table_name` with optional `table_schema` (default `public`).
        `Cache-Control: no-cache` bypasses the cache. Responses include `X-Athena-Cached`, `X-Athena-Cache-Outcome`, and `X-Athena-Cache-Source` when applicable.
      parameters:
      - in: header
        name: X-Athena-Client
        description: Required when driver is postgresql
        schema:
          type: string
      - in: header
        name: Cache-Control
        description: Set to `no-cache` to bypass cached count
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                driver:
                  type: string
                  enum:
                  - athena
                  - postgresql
                  - supabase
                db_name:
                  type: string
                query:
                  type: string
                  description: Validated COUNT-only SQL (mutually exclusive with table_name)
                table_name:
                  type: string
                  description: Table name when not using raw query (mutually exclusive with query)
                table_schema:
                  type: string
                  description: Schema name; defaults to public when using table_name
              required:
              - driver
              - db_name
            example:
              driver: postgresql
              db_name: athena_logging
              table_name: http_request_log
              table_schema: public
      responses:
        '200':
          description: Row count computed or served from cache
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int64
                      db_name:
                        type: string
                      duration_ms:
                        type: integer
                        format: int64
                      cache_key:
                        type: string
                      cache_lookup_outcome:
                        type: string
              example:
                status: success
                message: Row count computed
                data:
                  count: 2451
                  db_name: athena_logging
                  duration_ms: 12
                  cache_lookup_outcome: hit_local
        '400':
          description: Invalid driver, ambiguous body, or invalid count SQL
        '500':
          description: Driver execution failed
        '503':
          description: Athena/Scylla unavailable
  /pipelines:
    post:
      summary: Run pipeline
      description: |
        Executes a pipeline with either an inline source/transform/sink definition or an optional prebuilt template reference plus overrides. `source.client` and `sink.client` override the Postgres/Supabase pool per step; when omitted, `X-Athena-Client` is used. Optional column aliasing and `dry_run` are supported.

        When gateway API keys are enforced, the key is validated against `X-Athena-Client`; step client overrides still route fetch/insert to other registered clients if specified.

        Successful runs emit three rows to `pipeline_step_log` on the configured logging database (`gateway.logging_client`), correlatable via `pipeline_run_id` in the response.
      parameters:
      - in: header
        name: X-Athena-Client
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pipeline:
                  type: string
                  description: Existing template name from boot YAML or database-backed runtime templates.
                source:
                  type: object
                  properties:
                    table_name:
                      type: string
                    view_name:
                      type: string
                    columns:
                      type: array
                      items:
                        type: string
                    conditions:
                      type: array
                      items:
                        type: object
                        properties:
                          eq_column:
                            type: string
                          eq_value:
                            type: string
                    limit:
                      type: integer
                    client:
                      type: string
                      description: Optional source step client override (falls back to X-Athena-Client).
                transform:
                  type: object
                  properties:
                    group_by:
                      type: string
                    time_granularity:
                      type: string
                      enum:
                      - day
                      - hour
                      - minute
                    aggregation_column:
                      type: string
                    aggregation_strategy:
                      type: string
                      enum:
                      - cumulative_sum
                    aggregation_dedup:
                      type: boolean
                    column_aliases:
                      type: object
                      additionalProperties:
                        type: string
                      description: Optional map of source column names to sink aliases.
                sink:
                  type: object
                  properties:
                    table_name:
                      type: string
                    client:
                      type: string
                      description: Optional sink step client override (falls back to X-Athena-Client).
                dry_run:
                  type: boolean
                  description: When true, fetch+transform runs but sink inserts are skipped.
            example:
              source:
                table_name: http_request_log
                columns:
                - client_name
                - created_at
                - status_code
                limit: 100
              transform:
                group_by: client_name
                aggregation_column: status_code
                aggregation_strategy: cumulative_sum
              sink:
                table_name: gateway_rollups
              dry_run: true
      responses:
        '200':
          description: Pipeline run result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Inserted rows (or preview rows for dry runs)
                  rows_fetched:
                    type: integer
                  rows_inserted:
                    type: integer
                  would_insert:
                    type: integer
                    nullable: true
                    description: Preview row count for dry runs. This is a candidate-row estimate, not sink validation.
                  dry_run:
                    type: boolean
                  source_client:
                    type: string
                  sink_client:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                        error:
                          type: string
                  pipeline_run_id:
                    type: string
                    description: UUID correlating `pipeline_step_log` rows for this invocation.
              example:
                data: []
                rows_fetched: 100
                rows_inserted: 0
                would_insert: 12
                dry_run: true
                source_client: athena_logging
                sink_client: athena_logging
                errors: []
                pipeline_run_id: 0a9b5f6f-8a6c-4ba8-b41a-4a12ec2f5cb7
        '400':
          description: Bad request (e.g. missing X-Athena-Client or unknown pipeline)
        '500':
          description: Internal error
  /management/capabilities:
    get:
      summary: List management API capabilities for a client
      description: Requires `X-Athena-Client` and a client-bound API key with `management.read`.
      parameters:
      - in: header
        name: X-Athena-Client
        required: true
        schema:
          type: string
      - in: header
        name: apikey
        required: true
        schema:
          type: string
      - in: header
        name: x-api-key
        schema:
          type: string
        description: optional API key mirror of the `apikey` header
      responses:
        '200':
          description: Management capability details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementCapabilitiesEnvelope'
        '400':
          description: Missing or unknown X-Athena-Client
        '401':
          description: Missing or invalid API key
        '403':
          description: API key is not client-bound or lacks management.read
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /admin/public-routes:
    get:
      summary: List or create public route aliases (admin)
      parameters:
      - in: header
        name: X-Athena-Key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Public routes list
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
    post:
      summary: List or create public route aliases (admin)
      parameters:
      - in: header
        name: X-Athena-Key
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - route_key
              - client_name
              - allowed_ops
              properties:
                route_key:
                  type: string
                client_name:
                  type: string
                allowed_ops:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Validation error
        '409':
          description: Duplicate route key
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /admin/public-routes/{route_key}:
    patch:
      summary: Update or delete public route aliases (admin)
      parameters:
      - in: path
        name: route_key
        required: true
        schema:
          type: string
      - in: header
        name: X-Athena-Key
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
        '404':
          description: Route not found
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
    delete:
      summary: Update or delete public route aliases (admin)
      parameters:
      - in: path
        name: route_key
        required: true
        schema:
          type: string
      - in: header
        name: X-Athena-Key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deleted
        '404':
          description: Route not found
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /admin/service-routes:
    get:
      summary: List or create tenant service route bindings (admin)
      responses:
        '200':
          description: Success
    post:
      summary: List or create tenant service route bindings (admin)
      responses:
        '200':
          description: Success
  /admin/service-routes/{route_key}/{service_key}:
    patch:
      summary: Update or delete tenant service route bindings (admin)
      responses:
        '200':
          description: Success
    delete:
      summary: Update or delete tenant service route bindings (admin)
      responses:
        '200':
          description: Success
  /admin/tenant-hostnames/{tenant}:
    put:
      summary: Create or update tenant wildcard hostname onboarding (admin)
      parameters:
      - in: path
        name: tenant
        required: true
        schema:
          type: string
      - in: header
        name: X-Athena-Key
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_name:
                  type: string
                allowed_ops:
                  type: array
                  items:
                    type: string
                enable_http_route:
                  type: boolean
                enable_postgres_binding:
                  type: boolean
                public_host:
                  type: string
                public_port:
                  type: integer
                route_metadata:
                  type: object
                persist_in_catalog:
                  type: boolean
      responses:
        '200':
          description: Tenant hostname upserted
        '400':
          description: Validation error
        '404':
          description: Athena client not found
        '500':
          $ref: '#/components/responses/DefaultServerError5xx'
  /management/tables:
    post:
      summary: Create a managed table
      description: Requires `X-Athena-Client` and a client-bound API key with `management.tables.write`.
      parameters:
      - in: header
        name: X-Athena-Client
        required: true
        schema:
          type: string
      - in: header
        name: apikey
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTableRequest'
      responses:
        '201':
          description: Table created
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid payload
        '401':
          description: Missing or invalid API key
        '403':
          description: Missing management.tables.write or key is not client-bound
        '409':
          description: Table already exists
        '503':
          description: public.database_audit_log is missing on the gateway logging database, or the logging store is unavailable
  /management/tables/{table_name}:
    patch:
      summary: Edit or drop a managed table
      description: Requires `X-Athena-Client` and a client-bound API key with `management.tables.write`.
      parameters:
      - in: path
        name: table_name
        required: true
        schema:
          type: string
      - in: header
        name: X-Athena-Client
        required: true
        schema:
          type: string
      - in: header
        name: apikey
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditTableRequest'
      responses:
        '200':
          description: Table updated
        '400':
          description: Invalid payload or unsupported alteration
        '401':
          description: Missing or invalid API key
        '403':
          description: Missing management.tables.write or key is not client-bound
        '404':
          description: Table not found
        '503':
          description: public.database_audit_log is missing on the gateway logging database, or the logging store is unavailable
    delete:
      summary: Edit or drop a managed table
      description: Requires `X-Athena-Client` and a client-bound API key with `management.tables.drop`.
      parameters:
      - in: path
        name: table_name
        required: true
        schema:
          type: string
      - in: header
        name: X-Athena-Client
        required: true
        schema:
          type: string
      - in: header
        name: apikey
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DropTableRequest'
      responses:
        '200':
          description: Table dropped
        '401':
          description: Missing or invalid API key
        '403':
          description: Missing management.tables.drop or key is not client-bound
        '404':
          description: Table not found
        '503':
          description: public.database_audit_log is missing on the gateway logging database, or the logging store is unavailable
  /management/tables/{table_name}/columns/{column_name}:
    delete:
      summary: Drop a managed table column
      description: Requires `X-Athena-Client` and a client-bound API key with `management.columns.drop`.
      parameters:
      - in: path
        name: table_name
        required: true
        schema:
[...]
